<!-- wp:template-part {"slug":"header","tagName":"header","align":"full"} /-->

<!-- wp:group {"tagName":"section","metadata":{"name":"Post Header Zone"},"align":"full","className":"post-header-zone post-header-zone\u002d\u002dpage"} -->
<section class="wp-block-group alignfull post-header-zone post-header-zone--page"><!-- wp:group {"metadata":{"name":"Post Header Inner"},"className":"post-header__inner"} -->
<div class="wp-block-group post-header__inner"><!-- wp:post-title {"level":1,"className":"neon-post-title"} /--></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Reading Zone"},"align":"full","className":"reading-zone"} -->
<section class="wp-block-group alignfull reading-zone"><!-- wp:group {"metadata":{"name":"Reading Zone Inner"},"className":"reading-zone__inner"} -->
<div class="wp-block-group reading-zone__inner"><!-- wp:post-content {"className":"post-reading-content","layout":{"type":"constrained","contentSize":"720px"}} /--></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full"} /-->