<!-- wp:template-part {"slug":"header","tagName":"header","align":"full"} /-->

<!-- wp:group {"tagName":"section","metadata":{"name":"Post Section Header"},"align":"full","className":"post-section-header","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"0","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<section class="wp-block-group alignfull post-section-header" style="padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--40);padding-bottom:0;padding-left:var(--wp--preset--spacing--40)"><!-- wp:group {"metadata":{"name":"Section Header"},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"className":"section-tag"} -->
<p class="section-tag">// PAGE.read()</p>
<!-- /wp:paragraph -->

<!-- wp:post-title {"level":1,"className":"section-title"} /--></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Reading Zone"},"align":"full","className":"reading-zone"} -->
<section class="wp-block-group alignfull reading-zone"><!-- wp:group {"metadata":{"name":"Content"},"className":"reading-zone__inner","style":{"spacing":{"blockGap":"0rem","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group reading-zone__inner" style="margin-top:0;margin-bottom:0"><!-- wp:post-content {"align":"full","className":"post-reading-content","layout":{"type":"constrained"}} /--></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full"} /-->